<h1>Sign up</h1>

<form method='POST' action='/user/create'>
    <input name='username' type='text' placeholder='username'><br>
    <input name='email' type='email' placeholder='email'><br>
    <textarea name='biodata'></textarea><br>
    <input type='submit' value='Sign up'>
</form>