<h1>Create Post</h1>

<form method='POST' action='/posts/create' enctype="multipart/form-data">
    <textarea name='post'></textarea><br>
    <input name='attachment' type='file'><br>
    <input type='submit' value='Post'>
</form>